body {
    background-color: #6CB4EE;
    font-family: 'Electrolize', 'Nunito', 'Helvetica', sans-serif;
    font-size: 16px; 
    color: black;
    overflow: hidden;
    background-image: url('/static/img/melon1.001.png');
    background-size: 50% auto; 
    background-repeat: no-repeat;
    background-position: calc(100% - 100px) 125px; 
  }
  
  
  img{
    width:41%;
    height:auto;
    border:1pt solid rgb(50, 48, 48);
  }
  

  h1 {
    font-family: 'Electrolize', 'Nunito', 'Helvetica', sans-serif;
    font-size: 40px; 
    font-weight: 800;
    color:black;
  }
  
  
  h2,
  h3,
  h4,
  h5,
  h6,
  th {
    font-family: 'Electrolize', 'Nunito', 'Helvetica', sans-serif;
    font-size: 35px; 
    font-weight: 400;
  }


  .login {
    text-align: left; 
    margin-left: 375px; 
    padding-top: 150px; 
  }
  

  @media screen and (max-width: 768px) {
    .login {
      text-align: center;
    }
  }
  

  .btn {
    appearance: none;
    background-color: #E8E8E8;
    border-radius: 40em;
    border-style: none;
    box-shadow: #A0A0A0  0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,sans-serif;
    font-size: 1.0rem;
    font-weight: 500;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: .50rem 1.0rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  

  .btn:hover {
    background-color: #fd5c63;
    box-shadow: #BA0021 0 -6px 8px inset;
    transform: scale(1.125);
  }


.btn:active {
  transform: scale(1.025);
}


@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}


.nav-item {
  list-style: none;
}


.navbar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}


.navbar-nav li {
  margin: 0;
  padding: 0;
}
