body {
    background-color: rgb(220,220,220);
    font-family: 'Electrolize', 'Nunito', 'Helvetica', sans-serif;
    font-size: 16px; 
    color: black;
    overflow: hidden;
    background-image: url('/static/img/melonSURF.001.png');
    background-size: 50% auto; 
    background-repeat: no-repeat;
    background-position: top right;
  }
  
  
  
  
  img{
    width:41%;
    height:auto;
    border:1pt solid rgb(50, 48, 48);
  }
  
  
  
  
  
  h2 {
    font-family: 'Nunito', 'Helvetica', sans-serif;
    font-size: 26px; 
    font-weight: 400;
    color:black;
    font-weight: 500px;
  }
  
  
  
  h3,
  h4,
  h5,
  h6,
  th {
    font-family: 'Nunito', 'Helvetica', sans-serif;
    font-size: 16px; 
    font-weight: 400;
  }
  
  
  