<!DOCTYPE html>
<html>
  <head>
    <title>Kevin's Melon Experience</title>
  </head>
  <body>
    <h1>Kevin's Melon Experience</h1>
    <h2>Please enter your username:</h2>
      <div class="login">
        <form action="/make-view" method="POST">
          <p class="username">
            Username  <input type="text" name="username" class="input_">
          </p>
          <p>
            <input type="submit" value="Submit" class="btn btn-primary class-1">
          </p>
         <p>
          </p>
        </form>
        </div>
  </body>
</html>
