<!DOCTYPE html>
<html>
  <head>
    <title>Kevin's Melon Experience</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
  </head>
  <body>
      <div class="login">
        <h1>Kevin's Melon Experience</h1>
        <h2>Please enter your username:</h2>
        <form action="/make-view" method="POST">
          <p class="username">
            Username  <input type="text" name="username" class="input_">
          </p>
          <br>
          <p>
            <input type="submit" value="Submit" class="btn btn-primary class-1">
          </p>
          <p>
            <li class="nav-item">
              <a class="btn btn-primary class-1" href="/logout">Logout</a>
            </li>
          </p>
        </form>
        </div>
  </body>
</html>