<!DOCTYPE html>
<html>
  <head>
    <title>Menu</title>
  </head>
  <body>
    <h1>Make A Reservation <br>
      or <br>
      View Your Reservations <br>
    </h1>
    <form>
        {% with message = get_flashed_messages() %}
        {% if message %}
            <ul class="flashes">
            <h3>{{ message[0] }}</h3>
            </ul>
        {% endif %}
        {% endwith %}
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/search">Schedule A Reservation</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/user-reservations">View Your Scheduled Reservations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">LOGOUT</a>
            </li>
          </ul>
        </form>
        </div>
    </form>
  </body>
</html>



