<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>
    <link rel="stylesheet" href="/static/css/search.css">
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <div class="login">
    <h1>Search For A Reservation</h1>
    <h3>Please choose a <br> date and a time</h3>
    {% with message = get_flashed_messages() %}
    {% if message %}
        <ul class="flashes">
        <h3>{{ message[0] }}</h3>
        </ul>
    {% endif %}
    {% endwith %}
    <br>
    <form id="reservation-form">
      <label for="start">Date:</label>
      <input type="date" id="start" name="trip-start"
             value="{{today}}"
             min="{{today}}">
      <input type="hidden" id="reservation_date" name="reservation_date">
      <br><br><br>
      <label for="time">Time:</label>
      <select id="time" name="time">
        {% for period in ['AM', 'PM'] %}
          {% for hour in range(1, 13) %}
            {% for minute in ['00', '30'] %}
              <option value="{{ hour }}:{{ minute }}{{ period }}">{{ hour }}:{{ minute }} {{ period }}</option>
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </select>
      <input type="hidden" id="reservation_time" name="reservation_time">
      <input type="hidden" id="is_not_available" name="is_not_available">
      <br><br><br>
      <button type="submit" class="btn btn-primary class-1">Submit</button>
      <br><br>
      <li class="nav-item">
        <a class="nav-link btn btn-primary class-1" href="/user-reservations">View Your Scheduled Reservations</a>
      </li>
      <br>
      <li class="nav-item">
        <a class="nav-link btn btn-primary class-1" href="/logout">Logout</a>
      </li>
    </form>
    <div class="h_container add-reservation">
    </div>
    <script src="/static/js/reservation.js"></script>
  </div>
  </body>
</html>